.placeorder-image {
    height: 500px;
    margin: 100px 150px;
}
.placeorder-description {
    margin-top: 50px;
}

.text-gap {
 margin: 10px;
}
.pricetag {
    font-size: 24px;
    color:#B12704;
}

.placeorder-order {
    margin-top: 50px;
    width: 240px;
    height: 250px;
    margin-left: 20px;
    padding-bottom: 35px;
}
.placeorder-button {
    width: 220px;
    height: 40px;
    border-radius: 40px;
    margin:5px;
    border: 0px;
    color:black;
    cursor: pointer;
}
.add-cart {
    margin-top: 120px;
    background: #ffa41b;

}
.buy-now {
    background-color: #ffd712;
}